@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar" >
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
        <div>
            <TabBar />
        </div>
    </main>
</div>




@* <div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink class="navbar-toggler" href="" Match="NavLinkMatch.All">

            </NavLink>
        </div>
        <article class="content px-4">
            @Body
        </article>
        <div>
        <TabBar/>
        </div>
    </main>

</div> *@